body { 
	background-color:rgb(247, 247, 247);
	position:absolute;
}

.container { 
	width: 65%;
	height: 20%;
	position: fixed;
	top: 20%;
	left: 15%;
	display: grid;
	grid-template-rows: repeat(3, minmax(100px, 200px));
	row-gap: 0.2em;
}
.coming-soon { 
	color: rgba(0, 0, 0, 1);
	font-family: Inter;
	text-align: left;
	font-size: 72px;
	font-weight: 900;
	letter-spacing: 0;
	margin: 0;
}

.working { 
	color:rgba(0, 0, 0, 1);
	font-family:Fira Sans;
	text-align:left;
	font-size:2em;
	line-height: 130%;
	letter-spacing:1;
	margin: 0;
}

.link-container {
	margin-top: 25px;
	display: grid;
	grid-template-columns: repeat(2, 194px);
	column-gap: 25px;
}

.github-pill {
	display: grid;
	grid-template-columns: 34px auto;
	grid-template-rows: 56px;
	column-gap: 12px;
	width:194px;
	height:56px;
	align-items: center;
	justify-content: center;
	box-shadow:0px 25px 50px rgba(16, 24, 40, 0.25);
	background-color:rgba(0, 0, 0, 1);
	border-radius: 100px;
	text-decoration: none;
}
.github-icon { 
	width:34px;
	height:34px;
	background-image:url(images/github_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.github-text {
	color:rgba(241, 240, 238, 1);
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:2;
	text-decoration: none;
}

.resume-pill { 
	display: grid;
	grid-template-columns: 25px auto;
	grid-template-rows: 56px;
	column-gap: 12px;
	width:202px;
	height:56px;
	align-items: center;
	justify-content: center;
	box-shadow:0px 25px 50px rgba(16, 24, 40, 0.25);
	background-color:rgba(88, 9, 255, 1);
	border-radius:100px;
	text-decoration: none;
}
.resume-icon { 
	width:25px;
	height:32px;
	background-image:url(images/doc_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.resume-text { 
	color:rgba(255, 255, 255, 1);
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:2;

}
  
.coming-soon:after {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	-webkit-animation: ellipsis steps(4,end) 3000ms infinite;      
	animation: ellipsis steps(4,end) 3000ms infinite;
	content: "\2026"; /* ascii code for the ellipsis character */
	width: 0px;
}

@keyframes ellipsis {
	to {
		width: 1em;    
	}
}

@-webkit-keyframes ellipsis {
	to {
		width: 1em;    
	}
}