body { 
	background-color:rgba(219, 219, 219, 1);
	position:absolute;
}

.container{ 
	width:891px;
	height:309px;
	position:absolute;
	left:280px;
	top:320px;
}
.coming-soon { 
	color:rgba(0, 0, 0, 1);
	width:536px;
	height:87px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:72px;
	font-weight: 900;
	letter-spacing:0;
}

.working { 
	color:rgba(0, 0, 0, 1);
	width:891px;
	height:68px;
	position:absolute;
	left:0px;
	top:98px;
	font-family:Fira Sans;
	text-align:left;
	font-size:36px;
	letter-spacing:2;
}

.working-2 { 
	color:rgba(0, 0, 0, 1);
	width:900px;
	height:68px;
	position:absolute;
	left:0px;
	top:145px;
	font-family:Fira Sans;
	text-align:left;
	font-size:36px;
	letter-spacing:2;
}

.link-container { 
	width:426px;
	height:132px;
	position:absolute;
	left:0px;
	top:185px;
}

.github-container { 
	width:194px;
	height:56px;
	position:absolute;
	left:0px;
	top:38px;
}
.github-pill { 
	box-shadow:0px 25px 50px rgba(16, 24, 40, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:194px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.github-icon { 
	width:32px;
	height:32px;
	position:absolute;
	left:19px;
	top:12px;
	background-image:url(images/github_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.github-link {
	color:rgba(241, 240, 238, 1);
	width:112px;
	height:30px;
	position:absolute;
	left:63px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:2;
	text-decoration: none;
}
.resume-container { 
	width:200px;
	height:56px;
	position:absolute;
	left:216px;
	top:38px;
}
.resume-pill { 
	box-shadow:0px 25px 50px rgba(16, 24, 40, 0.25);
	background-color:rgba(88, 9, 255, 1);
	width:200px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.resume-icon { 
	width:25px;
	height:32px;
	position:absolute;
	left:19px;
	top:12px;
	background-image:url(images/doc_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.resume-link { 
	color:rgba(255, 255, 255, 1);
	width:125px;
	height:30px;
	position:absolute;
	left:56px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:2;
	text-decoration: none;
}
  
.coming-soon:after {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	-webkit-animation: ellipsis steps(4,end) 2500ms infinite;      
	animation: ellipsis steps(4,end) 2500ms infinite;
	content: "\2026"; /* ascii code for the ellipsis character */
	width: 0px;
}

@keyframes ellipsis {
	to {
		width: 1em;    
	}
}

@-webkit-keyframes ellipsis {
	to {
		width: 1em;    
	}
}